# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Compilados
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
local.properties

# Pasta de distribuição
.dist/
